= form_tag charges_path do
  %div#payment-options
    %div.form-group
      = label_tag "Select Number of Ads", nil, class: "col-md-3 control-label"
      %div.col-lg-9
        = select_tag :number_of_ads, options_for_select(["1 for $3","3 for $5"])
    %div.row
      %div.col-xs-6.col-xs-offset-3
        .actions
          %script.stripe-button{ src: "https://checkout.stripe.com/checkout.js", data: {description: "Purchase", label: "Purchase", key: ENV["STRIPE_PUBLISHABLE_KEY"], name: "Sellin Wheels"}}