%div.container.center
  %h1 About @sellinwheels:
  %p
    Sellinwheels was created to connect buyers to sellers of high end, performance wheels for all makes & models of vehicles. We are a company created by the enthusiast and for the enthusiast.
  %p
    We have developed an easy advertising system that will help you sell your wheels at a fair price, in minimal time. We will promote your "FOR SALE" or "WANTED TO BUY" advertisements to thousands of targeted wheel enthusiasts, across multiple social media platforms to ensure maximum exposure and expedite the process.
  %div.row
    %div.col-xs-6
      = image_tag("ev_in_car.jpg", class: "img-responsive img-rounded")
    %div.col-xs-6
      = image_tag("ev-dog.jpg", class: "img-responsive img-rounded")
  %h3 About Me:
  %p
    I'm Evan Beckerman, mechanical engineer, and wheel connoisseur. I have been working with fitments, refinishing wheels, and involved in the automotive industry for over 10 years. I have a passion for helping people find what they are looking for, even when its rare or discontinued! Please feel free to email me with any questions or comments about the site or the vision for @sellinwheels.
